.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6em 0 6em;
  background-color: rgb(255, 255, 255);
}

.logoContainer:hover {
  cursor: pointer;
}

.logo {
  padding: 0;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.heart {
  text-align: center;
}

.signUp,
.logIn {
  text-decoration: none;
  color: var(--main-color);
  font-weight: bold;
  transition: color 0.3s ease;
}

.signUp:hover,
.logIn:hover {
  color: var(--hover-color);
}

.active {
  color: var(--hover-color);
}

@media (max-width: 768px) {
  .container {
    padding: 0.6em 2em;
  }
}
