.header {
  background-color: var(--main-color);
  padding: 20px;
  text-align: center;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav ul li {
  display: inline;
  margin-right: 20px;
}

.nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
  letter-spacing: 1px;
}

.nav a:hover {
  color: var(--hover-color);
}

.categoryContainer {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 98%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.category {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  text-decoration: none;
  color: var(--main-color);
  font-weight: bold;
  transition: color 0.3s ease;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  min-width: 110px;
  min-height: 110px;
  text-align: center;
  border-radius: 25px;
  border: 2px solid var(--background-color);
  background-color: white;
  letter-spacing: 1px;
}

.category:hover {
  color: var(--hover-color);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-color: var(--main-color);
}

.headingsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../assets/pets-background2.jpeg");
  box-shadow: inset 0 0 0 2000px rgba(17, 17, 17, 0.3);
  background-color: rgb(197, 196, 196);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 400px;
}

.heading1 {
  text-align: center;
  font-weight: 700;
  color: var(--background-color);
  text-shadow: 0 1px 10px #4d4751, 0 0 4px #4d4751;
}

.heading2 {
  text-align: center;
  font-weight: 700;
  text-shadow: 0 1px 10px #4d4751, 0 0 4px #4d4751;
  color: var(--background-color);
}

.headingPetsAvailable {
  text-align: center;
  margin-top: 5em;
  line-height: 3px;
  color: var(--main-color);
  font-weight: 400;
}

.container {
  position: relative;
}

@media (max-width: 768px) {
  .nav ul {
    text-align: center;
  }

  .nav ul li {
    display: block;
    margin: 10px 0;
  }

  .category {
    min-width: 50px;
    min-height: 50px;
  }
}
