.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.image {
  width: 400px;
}

.status {
  font-weight: bold;
}

.trained,
.vaccinated {
  color: green;
}

.notTrained,
.notVaccinated {
  color: var(--error-color);
}

.skeleton,
.skeletonDogImage,
.skeletonBreed,
.skeletonName,
.skeletonAbout,
.skeletonLocation,
.skeletonLine,
.skeletonSize,
.skeletonAge,
.skeletonAdopt {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: flex-start;
}

.skeletonImage {
  text-align: left;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
  .image {
    width: 300px;
  }

  .skeletonDogImage {
    width: 70% !important;
  }

  .skeletonBreed {
    width: 40% !important;
  }
  .skeletonName {
    width: 25% !important;
  }

  .skeletonLocation {
    width: 20% !important;
  }

  .skeletonSize {
    width: 15% !important;
  }

  .skeletonAge {
    width: 25% !important;
  }

  .skeletonAdopt {
    width: 15% !important;
  }

  .skeletonHeader,
  .skeletonNavBar {
    height: 50px !important;
  }
}
