.container {
  display: flex;
  justify-content: center;
  padding: 0.5em;
  height: 10%;
  padding-bottom: 50px;
}

.searchBar {
  padding: 1em;
  margin: 0.4em;
  width: 20%;
  border-radius: 8px;
  border-color: var(--background-color);
  height: 10px;
  min-width: 250px;
}

.form {
  display: flex;
  align-items: center;
}

.searchButton {
  padding: 0.4em 0.7em;
}
